---
import "../styles/components/about-home.css";
---

<h2 class=`about__titulo ${Astro.props.classColor}` id="aboutDeTitulo">
  Who is Josh
  <span class="span__dark" id="span-titulo2">Dev</span>?
</h2>
